body {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    margin: 20 20 20 20

}

.left_side {
    display: flex;
    width: 40%;
}

.big_image {
    position: absolute;
    width: 35%;
}

.logo {
    width: 150px;

}

.logo_container {
    position: absolute;
    background-color: white;
    opacity: 0.5;
    justify-content: center;
    align-items: center;

}

footer {
    position: absolute;
    display: flex;
    align-self: flex-end;

}

.right_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60%;


}

ul {
    display: flex;
    list-style: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

ul li {
    width: 40%;
    display: inline-block;
    padding: 10px;
}

ul li>* {
    width: 100%
}